/**
* @name Nocturnal
* @author Spectra#4577
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @invite PZdnCVD
* @version 3.0.0
*/
@import url("https://raw.githubusercontent.com/xDeonn/themes/master/themes-cores/nocturnal.css");
/*
                                                                                                                                                                     
                                                                                                                                                                     
NNNNNNNN        NNNNNNNN                                              tttt                                                                                   lllllll 
N:::::::N       N::::::N                                           ttt:::t                                                                                   l:::::l 
N::::::::N      N::::::N                                           t:::::t                                                                                   l:::::l 
N:::::::::N     N::::::N                                           t:::::t                                                                                   l:::::l 
N::::::::::N    N::::::N   ooooooooooo       ccccccccccccccccttttttt:::::ttttttt    uuuuuu    uuuuuu rrrrr   rrrrrrrrr   nnnn  nnnnnnnn      aaaaaaaaaaaaa    l::::l 
N:::::::::::N   N::::::N oo:::::::::::oo   cc:::::::::::::::ct:::::::::::::::::t    u::::u    u::::u r::::rrr:::::::::r  n:::nn::::::::nn    a::::::::::::a   l::::l 
N:::::::N::::N  N::::::No:::::::::::::::o c:::::::::::::::::ct:::::::::::::::::t    u::::u    u::::u r:::::::::::::::::r n::::::::::::::nn   aaaaaaaaa:::::a  l::::l 
N::::::N N::::N N::::::No:::::ooooo:::::oc:::::::cccccc:::::ctttttt:::::::tttttt    u::::u    u::::u rr::::::rrrrr::::::rnn:::::::::::::::n           a::::a  l::::l 
N::::::N  N::::N:::::::No::::o     o::::oc::::::c     ccccccc      t:::::t          u::::u    u::::u  r:::::r     r:::::r  n:::::nnnn:::::n    aaaaaaa:::::a  l::::l 
N::::::N   N:::::::::::No::::o     o::::oc:::::c                   t:::::t          u::::u    u::::u  r:::::r     rrrrrrr  n::::n    n::::n  aa::::::::::::a  l::::l 
N::::::N    N::::::::::No::::o     o::::oc:::::c                   t:::::t          u::::u    u::::u  r:::::r              n::::n    n::::n a::::aaaa::::::a  l::::l 
N::::::N     N:::::::::No::::o     o::::oc::::::c     ccccccc      t:::::t    ttttttu:::::uuuu:::::u  r:::::r              n::::n    n::::na::::a    a:::::a  l::::l 
N::::::N      N::::::::No:::::ooooo:::::oc:::::::cccccc:::::c      t::::::tttt:::::tu:::::::::::::::uur:::::r              n::::n    n::::na::::a    a:::::a l::::::l
N::::::N       N:::::::No:::::::::::::::o c:::::::::::::::::c      tt::::::::::::::t u:::::::::::::::ur:::::r              n::::n    n::::na:::::aaaa::::::a l::::::l
N::::::N        N::::::N oo:::::::::::oo   cc:::::::::::::::c        tt:::::::::::tt  uu::::::::uu:::ur:::::r              n::::n    n::::n a::::::::::aa:::al::::::l
NNNNNNNN         NNNNNNN   ooooooooooo       cccccccccccccccc          ttttttttttt      uuuuuuuu  uuuurrrrrrr              nnnnnn    nnnnnn  aaaaaaaaaa  aaaallllllll
                                                                                                                                                                     
                                                                                                                                                                     
*/
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");

@import url("https://codedotspectra.github.io/themes/core/hljs.css"); /* Better Hljs */
:root {
  --backgroundColor01: #242424;
  --backgroundColor02: #121212;
  --mainColor: #ff7800;
  --gradientColor01: #ff7800;
  --gradientColor02: #000000;

  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: rgba(0, 0, 0, .2);
}
